* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 20px;
}

.nav-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 5px;
    background-color: #FAFAFA;
    padding: 20px 0;
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.menu ul li {
    padding: 10px;
    transition: .1s ease-in all;
}

.menu ul li:hover {
    background-color: #caccca;
    border-radius: 8px;

}

.menu ul li a {
    color: #333333;
}

.brike {
    display: flex;
    flex-wrap: wrap;
}

.brike li {
    padding: 0 15px;
}

.sign ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    text-align: center;
}

.sign ul li {
    padding: 0 15px;
}

.sign ul li:hover {
    opacity: .7;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.container {
    margin: 20px 40px;
    display: flex;
    flex-wrap: wrap;
    overflow: visible;
}

.left {
    width: 60%;
}

.right {
    width: 40%;
}

.right1 {
    display: flex;
    justify-content: left;
    text-align: center;
    margin-left: 60px;

}

.btn-right {
    display: inline-block;
}

button {
    color: #fff;
    padding: 10px 30px;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 1.4;
    border-radius: 6px;
}

.btnR1 {
    border: 5px solid #f15048;
    background-color: #f15048
}

.btnR2 {
    background-color: #4399fa;
    border: 5px solid #4399fa;
}

.btnR3 {
    margin: 0 0 20px 0;
    max-width: 343px;
    width: 100%;
    background-color: #5cb85c;
    border: 5px solid #5cb85c;

}

.edit {
    margin-left: 60px;
    display: inline-block;
}

.edit h1 {
    width: 100%;
    line-height: 1.5cm;
    font-weight: 100;
    font-size: 30px;

}

.edit1 {
    width: 100%;
    text-align: justify;
    line-height: 0.8cm;
    font-size: 17px;
}

.online {
    margin-left: 60px;
    display: inline-block;
    margin-top: 2px;
}

.online h1 {
    width: 100%;
    line-height: 1.5cm;
    font-weight: 100;
    font-size: 30px;
}

.start {
    width: 100%;
    text-align: justify;
    line-height: 0.2cm;
    font-size: 17px;
}

.create {
    margin-left: 60px;
    display: inline-block;
    margin-top: 2px;
    font-size: 18px;
    line-height: 1.75;
    text-align: left;
}

.create h1 {
    width: 100%;
    line-height: 1.5cm;
    font-weight: 100;
    font-size: 30px;

}

.create img {
    width: 32px;
    height: 32px;
}

.sira1 {
    margin-bottom: 9px;
    display: flex;
    width: 100%;

}

.sira2 {
    margin-bottom: 9px;
    display: flex;
    width: 100%;
}

.sira3 {
    display: flex;
    width: 100%;
}

.web {
    vertical-align: 0.5em;
    margin-left: 10px;
}

.web1 {
    width: 50%;
}

.web2 {
    width: 50%;
}

.web3 {
    width: 50%;
}

.web4 {
    width: 50%;
}

.web5 {
    width: 50%;
}

.web6 {
    width: 50%;
}

.free1 {
    margin-left: 60px;
}

.free1 h1 {
    width: 100%;
    line-height: 1.5cm;
    font-weight: 100;
    font-size: 30px;
}

.free2 {
    width: 100%;
    line-height: 1cm;
    font-weight: 100;
}

.free2 i {
    color: red;
    font-size: 40px;
}

.free2 span {
    vertical-align: 0.3em;
    margin-left: 15px;
    font-size: 25px;
}

.key1 {
    display: inline-block;
    margin-left: 60px;
    margin-top: 2px;
    font-size: 18px;
    line-height: 1.75;
    text-align: left;

}

.key1 h1 {
    width: 100%;
    line-height: 1.5cm;
    font-weight: 100;
    font-size: 30px;
}

.ul ul {
    line-height: 1.2cm;
    opacity: 0.6;
}

.ul ul li {
    display: inline-block;
    border: 1px solid black;
    border-radius: 25px;
    padding: 5px;
    font-weight: 100;
    padding-left: 4px;
}

.ul ul li:hover {
    color: #4399fa;
    border: 1px solid #4399fa;
}



.Link ul {
    display: flex;
    flex-wrap: wrap;
}

.Link ul li a {
    color: #4a50ff;
}

.Link ul li a:hover {
    text-decoration: underline;
}

.Link h1 {
    font-weight: normal;
    font-size: 35px;
    line-height: 1.4cm;
    opacity: .7;
}

.Link span {
    font-size: 15.4px;
    opacity: .9;
}

.Link p a {
    color: #4a50ff;
}

.Link p a:hover {
    text-decoration: underline;
}

.img img {
    width: 100%;
}

.img img:hover {
    opacity: .7;
    cursor: pointer;
}

.btn2 {
    margin-top: 35px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
}

.btn-12 {
    font-size: 20px;
    padding: 16px 27px;
    color: #FAFAFA;
    border: 1px solid #f15048;
    border-radius: 5px;
    background-color: #f15048;
}

.btn-12:hover {
    color: #FAFAFA;
    border: 1px solid #f15048;
    border-radius: 5px;
    background-color: #ef342b;
}

.btn-22 {
    font-size: 20px;
    padding: 16px 27px;
    color: #FAFAFA;
    border: 1px solid #4399fa;
    border-radius: 5px;
    background-color: #4399fa;
}

.btn-22:hover {
    background-color: rgb(0, 148, 241);
}

.btn-33 {
    font-size: 20px;
    padding: 16px 27px;
    color: #FAFAFA;
    border: 1px solid #5cb85c;
    border-radius: 5px;
    background-color: #5cb85c;
}

.btn-33:hover {
    background-color: rgb(5, 171, 5);
}

.video2 {
    margin-top: 20px;
    width: 100%;
}

.video2 h1 {
    font-weight: normal;
    font-size: 35px;
    line-height: 1.4cm;
    opacity: .7;
}

.video2 span {
    font-size: 15.4px;
    opacity: .9;
}

.video2 span a:hover {
    text-decoration: underline;
}

.video2 span a {
    color: #4a50ff;
}

video {
    margin-top: 10px;
    width: 100%;
}

.image1 {
    margin: 20px 40px;
}

.image1 h1 {
    width: 100%;
    line-height: 1.5cm;
    font-weight: 100;
    font-size: 30px;
}

.image1 span {
    font-weight: 100;
    opacity: 0.7;
}

.img1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-top: 5px;
}

.img2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-top: 5px;

}

.img2 .div8 {
    margin-top: -220px;
}

.img2 .div6 {
    margin-top: -190px;
}

footer {
    background-color: #323232;
}

.fot {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    line-height: 2cm;
    margin: 20px 40px;
    padding: 30px;
}

.fot h1 {
    color: #FAFAFA;
    width: 100%;
    line-height: 1.5cm;
    font-weight: 100;
    font-size: 20px;
}

.fot li {
    width: 100%;
    color: #FAFAFA;
    line-height: 0.7cm;
    font-size: 15px;
}

@media only screen and (max-width:1200px) {
    .left {
        width: 80%;
    }

    .right {
        width: 100%;
    }
}

@media only screen and (max-width:925px) {
    .btn2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        text-align: center;
        gap: 10px 0;
    }

    .btn-12 {
        font-size: 20px;
        padding: 15px 15px;
    }

    .btn-22 {
        font-size: 20px;
        padding: 15px 15px;
    }

    .btn-33 {
        font-size: 20px;
        padding: 15px 15px;
    }

}

@media only screen and (max-width:750px) {

    .container {}

    .left {
        width: 100%;
    }

    .Link h1 {
        line-height: 1cm;

    }

    .Link span {
        text-align: justify;
    }
}

@media only screen and (max-width:600px) {
    .container {
        margin: 5px 8px;
    }

    .left {
        width: 100%;
    }

    .Link h1 {
        font-size: 30px;
        line-height: 1cm;

    }

    .Link span {
        text-align: justify;
    }

    .btn2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        text-align: center;
        gap: 10px 0;
    }

    .btn-12 {
        font-size: 20px;
        padding: 15px 20px;
    }

    .btn-22 {
        font-size: 20px;
        padding: 15px 20px;
    }

    .btn-33 {
        font-size: 20px;
        padding: 15px 34px;
    }

    .img2 .div8 {
        margin-top: 0;
    }

    .img2 .div6 {
        margin-top: 0;
    }

    .image1 h1 {
        font-size: 18px;

    }

    .foter1 {
        width: 100%;
    }

    .foter2 {
        width: 100%;
    }

    .foter3 {
        width: 100%;
    }

    .foter4 {
        width: 100%;
    }

    .foter5 {
        width: 100%;
    }

    .fot li {
        font-size: 18px;
    }
}

/* nav-bar */
@media only screen and (max-width:1227px) {
    .sign {
        justify-content: right;
        width: 100%;
        margin: 10px 0;
    }
}

@media only screen and (max-width:950px) {
    .menu {
        margin: 20px 10px;
        justify-content: right;
    }
}

@media only screen and (max-width:845px) {
    .brike {
        justify-content: space-evenly;
        margin: 10px 0;
    }
}

@media only screen and (max-width:442px) {

    .menu ul {
        margin: -15px;
        margin-top: -62px;
        justify-content: end;
        gap: 20px;
    }

    .sign ul {
        justify-content: center;
        margin-top: 1px;

    }

    .brike {
        margin: auto;
        margin-top: 5px;
    }
}